@import url("./themes/catppuccin-mocha.css");

.main-content {
    margin: auto;
    margin-bottom: 5vh;
    max-width: 60vw;
}

/* Header styling */
header {
    font-weight: 700;
    text-align: left;
}

h1.title {
    font-weight: 700;
}

img.thumbnail {
    object-fit: contain;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}

/* Body styling */
article {
    text-align: justify;
    text-indent: 4ch each-line;
    line-height: 1.8em;
}
