@import url("./themes/catppuccin-mocha.css");

.gallery {
    margin: 2vh 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature {
    border-radius: 1.5ch;
    margin: 2ch;
    padding: 1ch;
}

.feature-info {
    display: flex;
    flex-direction: row;
    padding: 0 2ch;
    justify-content: space-between;
}