/*
    Contains all the styles that should be consistent in all pages
*/

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    background-color: #162521;
    color: #E3E9EF;
    --color-green: #399E5A;
    --color-yellow: #F3B61F;
    --color-red: #B75D69;
}

/* Topbar #start */
.topbar {
    background-color: #2F4E46;
    padding: 5px 2.5% 5px 2.5%;
    position: relative;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

/* Website Links */
a.clickable:link, a.clickable:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.clickable:hover {
    animation: 1s linear 0s infinite normal blinking-link;
}

@keyframes blinking-link {
    from {
        ::before {
            content: " ";
        }
    }

    to {
        ::after {
            content: "_";
        }
    }
}

/* Menus */
.menu {
    display: inherit;
    flex-direction: inherit;
    margin: auto;
    margin-left: 5%;
    gap: 20%;
}

/* Splash text */
.splash-text {
    position: absolute;
    top: 5px;
    right: 2.5%;
    text-align: end;
}
/* Topbar #end */